.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 24px;
}
