@import '_typography.scss';
@import '_layout.scss';

*,
*:before,
*:after {
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:hover,
button:hover {
  cursor: pointer;
}

.Nav {
  text-align: center;
}

.Header {
  margin-bottom: 24px;
}

.Footer {
  margin-top: 24px;
}

.Aina {
  &__title {
    margin-right: 24px;
    animation: scale 4s infinite ease-in-out;
  }

  &__logo {
    transform: rotate(-60deg);
    animation: rotate 1s infinite ease-in-out;
  }

  &__description {
    margin: 24px 0;
  }

  &__button {
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 16px;
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes rotate {
  50% {
    transform: rotate(-80deg);
  }
}
